[submodule "services/stressscore"]
	path = services/stressscore
	url = https://github.com/HardMonPBL6/SistemasConcurrentesPBL6.git
[submodule "services/web"]
	path = services/web
	url = https://github.com/HardMonPBL6/WebHardMon.git
